/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
  min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  position: relative;/* ←相対位置 */
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */
.main{
  background: -moz-linear-gradient(top, #ffefe4, #FFF);
  background: -webkit-linear-gradient(top,  #ffefe4, #FFF);
  background: linear-gradient(to bottom,  #ffefe4, #FFF);
}
.header {
  background-image: url("header.png");
  padding: 20px 0;
}
.head__main{
  width: 1024px;
  margin: 0 auto;
}
.inner {
  width: 1024px;
  margin: 0 auto ;
  padding: 25px 10px;
  background: -moz-linear-gradient(top, #ffe9db, #FFF);
  background: -webkit-linear-gradient(top, #ffe9db, #FFF);
  background: linear-gradient(to bottom, #ffe9db, #FFF);
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.title_logo{
  font-weight: bold;
  color: black;
  font-family: Courier;
  font-size: 30px;
}

.logo {
  width: 200px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color:black;
  text-decoration: none;
  user-select: none;
  border: 1px #dec9c9 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin-left: 5px;
  background-color: #a93636;
}
.nav__btn:hover{
  color:whitesmoke;
  background: #812d2d;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: black;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}
.nav__left{
  display: flex;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.image__pv{
  max-width: 200px;
  margin: 10px 0;
}
.form__text {
  width: 50%;
}

.food__form__text {
  width: 85%;
  height: 30px;
}

.put__day{
  font-size: 20px;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #c42e2e;
  border: 1px #653838 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* レシピフォーム周り */
.number__people{
  margin-bottom: 10px;
  display: flex;
}
/*メイン*/
.food__list__header{
  display: flex;
}
.cooking__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: rgb(72, 72, 72);
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
  width: 100px;
}

.food__btn{
  display       : inline-block;
  width: 55px;
  border-radius : 5px;          /* 角丸       */
  font-size     : 10px;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 6px 5px;   /* 余白       */
  margin: 3px;
  background    : #c94a14;     /* 背景色     */
  color         : #fffbf9;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  box-shadow    : 1px 1px 3px #666666;  /* 影の設定 */
  border: solid black 1px;
  opacity       : 0.9;
}
.food__btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 1;           /* カーソル時透明度 */
}
.food__list__title{
  font-size: 20px;
  color: #b78888;
  display: block;
  width: 25%;
}
.search__form{
  margin-bottom: 10px;
}

.new__recipe__btn {
  width: 120px;
  background: #e7591c;
  text-align: center;
  border-radius: 4%;
  top: 100px;
  right: 32px;
  position: absolute;
  padding: 15px;
}
.new__recipe__btn__show{
  width: 120px;
  background: #e7591c;
  text-align: center;
  border-radius: 4%;
  bottom: 30px;
  right: 32px;
  position: absolute;
  padding: 15px;
}
/*ページネーション*/
.pagination{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px auto;
}
/*検索フォーム*/
.search__form{
  text-align: center;
}
.search__recipe{
  width: 45%;
  min-width: 150px;
  height: 35px;
  border:#B92A2C solid 2px;
  border-radius: 5px;
  padding: 0 15px;
  background-color: #fffbf9;
  font-size: 16px;
}
.search__btn{
  display       : inline-block;
  border-radius : 15%;          /* 角丸       */
  font-size     : 16px;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 6px 10px;   /* 余白       */
  background    : #c94a14;     /* 背景色     */
  color         : #fffbf9;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  box-shadow    : 1px 1px 3px #666666;  /* 影の設定 */
  opacity       : 0.9;
  height: 30px;
}
.search__btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 1;           /* カーソル時透明度 */
}

/*レシピリストのビュー調整*/
.my__page__btn{
  display : block;
  width: 45%;
  height: 35px;
  text-align: center;
  margin: 20px auto 0;
  padding: auto;
  color: white;
  background    : #c94a14;
  border-radius : 25px;
  font-size: 20px;
  box-shadow    : 1px 1px 3px #666666;  /* 影の設定 */
  opacity       : 0.9;
  border: black 1px solid;
}
.my__page__btn:hover{
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 1;           /* カーソル時透明度 */
}
.top__main{
  display: flex;
  align-items: flex-start;
}
.recipe_all_top{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(100% - 110px);
}
.recipe_all{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.recipe__list{
  width: calc((100% - 25px) / 2);
  margin-bottom: 20px;
}
.recipe__title{
  display: block;
  text-align: center;
  border-bottom: 3px double #B92A2C;
  font-size: 1.4em;
  font-weight: bold;
  width: 90%;
  margin: 10px auto;
}
.card__img{
  border-radius : 10%;
}
.recipe__row{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.recipe__tag{
  display       : inline-block;
  border-radius : 15%;          /* 角丸       */
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 5px 7px;   /* 余白       */
  background    : #B92A2C;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  box-shadow    : 1px 1px 3px #666666;  /* 影の設定 */
  opacity       : 0.9;
}
.recipe__tag:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 1;           /* カーソル時透明度 */
}
.recipe__user{
  opacity       : 1;
  font-size     : 13pt;
}
.recipe__user:hover {
  opacity       : 0.9;           /* カーソル時透明度 */
}
.like__list{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 18px;
}
.like__btn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 24px;
  border: 1px solid  #B92A2C;
  border-radius : 12px;
  padding: 3px 5px;
  background-color: #e3581c;
  box-shadow    : 1px 1px 3px #666666;  /* 影の設定 */
  opacity       : 0.9;
}
.like__btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 1;           /* カーソル時透明度 */
}
.like__text{
  font-size: 15px;
  margin-right: 3px;
}
.star__icon{
  height: 18px;
}
.tag__all{
  width: 100px;
  margin-top: 30px;
}
.tag__card{
  display: flex;
  margin: 5px;
}
.tag__num{
  display: block;
  margin-left: 5px;
}

/*レシピ詳細ページ*/
.recipe__manage{
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipe__main{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.recipe__main__left{
  width: 45%;
}
.recipe__image{
  width: 100%;
  align-items: center;
  border-radius : 10%; 
}
.show__like{
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin-top: 10px;
}
.recipe__food{
  width: 45%;
  text-align: center;
  font-size: 13px;
}
.recipe__food__list{
  border: 1.5px solid gray ;
  padding: 5px 0;
  font-size: 12px;
}
.plan__form{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  flex-direction: column;
  margin: 10px auto;
}
.input__date{
  display: flex;
}
.recipe__making{
  margin: 10px auto;
  width: 90%;
  text-align: center;
  font-size: 13px;
  border: 1.5px solid gray ;
  padding: 5px 0;
}
.recipe__introduce{
  margin: 10px auto ;
  width: 90%;
  text-align: center;
  font-size: 13px;
}
.recipe__comments{
  margin: 10px auto 0;
  width: 90%;
  text-align: center;
  font-size: 13px;
  padding: 5px 0;
}
.comment__form{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px
}
.comments_list{
  width: 65%;
  border-bottom: 1.5px solid black ;
  margin: 7px auto ;
  font-size: 16px;
}
.comment_user{
  display: block;
  font-size: 14px;
  width: 95%;
  text-align: end;
}

/*在庫一覧、買い物リストのビュー調整*/
.food__title{
  display: block;
  text-align: center;
  border-bottom: 3px double #B92A2C;
  font-size: 1.4em;
  font-weight: bold;
  width: 200px;
  margin: 5px auto;
}
.stock__form{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.stock__form__text{
  width: 35%;
  height: 25px;
}
.shopping__form__text{
  width: 25%;
  height: 25px;
}
.stock__name{
  width: 90px;
}
.stock__num{
  margin-left: 90px;
}
.food__list{
  margin-top: 5px;
}
.mypage__main{
  display: flex;
  margin: 20px 0;
}
.mypage__left{
  width: 47%;
}
.mypage__right{
  width: 53%;
}
.mypage__index{
  display: flex;
  flex-direction: row-reverse;
}
.content__form{
  width: 40%;
}

.content__list{
  width: 55%;
}
.plan__list{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.plan__card{
  width: calc((100% - 25px) / 2);
  margin-bottom: 20px;
}
.plan__card__body{
  margin: 5px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.plan__card__left{
  width: 48%;
}
.plan__image{
  border-radius : 10%;
}
.plan__card__right{
  width: 49%;
  text-align: center;
}
.plan__food__amount{
  font-size: 12px;
  border-bottom: 1px solid #B92A2C;
  margin-bottom: 3px;
}
.input__date{
  margin: 5px auto;
}
.input__plan__people{
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: center;

}
.plan__form{
  width: 100%;
}
.form__people__text{
  height: 25px;
  width: 20%;
}

/* フッター */

.footer {
  background-color: #999;
  padding: 10px 0;
  height: 20px;
  width: 100%;
  bottom:0px;
  position: absolute;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 92%;
    margin: 0 auto;
  }
  .head__main {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
}
@media (max-width: 800px) {
  .stock__name{
    width: 80px;
    font-size: 13px;
  }
  .stock__num{
    font-size: 11px;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .inner {
    width: 96%;
    margin: 0 auto;
  }
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }

  .mypage__main{
    display: flex;
    flex-direction: column;
  }
  .mypage__left{
    width: 100%;
  }
  .mypage__right{
    width: 100%;
  }
  .mypage__index{
    display: flex;
    flex-direction: column;
  }
  .content__form{
    width: 90%;
  }
  
  .content__list{
    width: 100%;
  }
  .recipe__list{
    width: 100%;
    margin-bottom: 20px;
  }
  .stock__name{
    width: 85px;
    font-size: 15px;
  }
  .stock__num{
    font-size: 14px;
    margin-left: 85px;
  }
  .plan__list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .plan__card{
    width: calc(100% - 30px);
    margin-bottom: 15px;
  }
}