/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color: #c42e2e;
  margin-bottom: 48px;
  padding: 20px 0;

}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.title_logo{
  font-weight: bold;
  color:#653838;
}

.logo {
  width: 200px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color:#653838;;
  text-decoration: none;
  user-select: none;
  border: 1px #dec9c9 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin-left: 5px;
}
.nav__btn:hover{
  color:#b78888;
  background: #812d2d;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #653838;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}
.nav__left{
  display: flex;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.food__form__text {
  width: 30%;
  height: 30px;
}
.date__form__text{
  width: 25%;
  height: 30px;
}
.put__day{
  font-size: 20px;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #c42e2e;
  border: 1px #653838 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
/*メイン*/
.food__list__header{
  display: flex;
}
.cooking__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: rgb(72, 72, 72);
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
  width: 100px;
}

.food__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: rgb(72, 72, 72);
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px ;
  width: 60px;
}
.food__list__title{
  font-size: 20px;
  color: #b78888;
  display: block;
  width: 25%;
}
.search__form{
  margin-bottom: 10px;
}
/*在庫一覧、買い物リストのビュー調整*/
.stock__form{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.stock__form__text{
  width: 90px;
  height: 25px;
}
.stock__name{
  width: 90px;
}
.food__list{
  margin-top: 5px;
}


/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}